<main class="container">
  <h1 class='title'><img
      src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png' />Pokemon Items!<img
      src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/master-ball.png' /></h1>

  <div>{{id}}</div>
  <div class='mainInfo'>
    <div class='englishInfo'>
      <div class='capital'>{{name}}
      </div>
      <div>{{effect}}</div>
    </div>
    <div class='koreanInfo'>
      <div class='capital'>{{korName}}</div>
      <div>{{korEffect}}</div>
    </div>
  </div>
  <div>
    <img src="{{sprite}}" />
  </div>
  <div>
    <button class='eng'>
      ENG
    </button>
    <button class='ko'>
      KO
    </button>
  </div>
  <div>
    <form class='test' method="POST" action="/item-search">
      <input id='itemList' class='tuna' name="item" type="search" placeholder="Search..">
    </form>
  </div>
  <br />
  <form method="POST" action="/pokemon-page">
    <button style='width: 80px; height: 60px;'>Pokemon page</button>
  </form>
</main>

<script>
  const ko = document.querySelector('.ko');
  const eng = document.querySelector('.eng');
  const koreanInfo = document.querySelector('.koreanInfo');
  const englishInfo = document.querySelector('.englishInfo');
  ko.addEventListener('click', function () {
    koreanInfo.style.display = 'block';
    englishInfo.style.display = 'none';
  });
  eng.addEventListener('click', function () {
    koreanInfo.style.display = 'none';
    englishInfo.style.display = 'block';
  });
  const form = document.querySelector('.test')
  form.addEventListener("submit", function (event) {
    let inputCheck = document.querySelector('.tuna').value
    inputCheck = inputCheck.replace(' ', '-');
    inputCheck = inputCheck.toLowerCase();
    for (var i = 0; i < itemListData.length; i++) {
      if (inputCheck === itemListData[i].name) {
        console.log('poop');
        return true;
        break;
      }
      console.log('bug poop')
    }
    event.preventDefault();
  })
  const itemListData = {{{ itemList }}}
  var options = {
    data: itemListData,
    getValue: 'name',
    list: {
      onClickEvent: function () {
        form.submit()
      },
      match: {
        enabled: true
      },
    },
    theme: "blue-light",
    template: {
      type: "iconRight",
      fields: {
        iconSrc: "image"
      },
    },
  };
  $("#itemList").easyAutocomplete(options);
</script>