<main class="container">
  <h1 class="title">James' Pokedex</h1>
  <div class="firstRow">
    <div class="mainText capital">
      <div>{{name}}</div>
      </br>
      <div class="{{type1}}">Type 1: {{type1}}</div>
      {{#if type2}} <div class="{{type2}}">Type 2: {{type2}}</div> {{/if}}
    </div>

    <div class="pokemonInfo">
      <div>
        <form class='pokemonTest' method="POST" action="/pokemon-search">
          <input id='pokemonList' class='salmon' name="pokemon" type="search" placeholder="Search..">
        </form>
      </div>
      <img class="pokemonImg" src="{{img}}" />
      <div>National ID: #{{id}}</div>
      <div>Weight: {{weight}}kg</div>
      <div>Height: {{height}}m</div>
    </div>
  </div>
  <div class="capital mainText">Evolutions:</div>

  <div class="evos capital">
    <div class="evoColumnOne evoColumns">
      <div class="evoForm">
        {{#each evolutions.firstEvo}}
        <a href='/pokemon/{{id}}'>
          <div>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" />
          </div>
          <div>
            {{name}}
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    <div class="evoColumnTwo evoColumns">
      {{#each evolutions.secondEvo}}
      <div class="evoStep">
        <div class='step'>
          {{#if level}} <div class="tiny-text">{{level}}</div> {{/if}}
          {{#if item}} <div class='tooltip'>w/ <img src='/images/{{item}}.png' />
            <span class='tooltiptext'>{{item}}</span></div> {{/if}}
          {{#if gender}} <div>{{gender}}</div> {{/if}}
          {{#if held_item}} <div> <img
              src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{held_item}}.png' /> </div>
          {{/if}}
          {{#if known_move}} <div>knows {{known_move}}</div> {{/if}}
          {{#if known_move_type}} <div class="{{known_move_type}}">knows a {{known_move_type}}move</div> {{/if}}
          {{#if location}} <div class='tooltip'><img src='/images/location.png' />
            <span class='tooltiptext'>{{location}}</span></div> {{/if}}
          {{#if min_affection}} <div class='tooltip'><img src='/images/affection.png' />
            <span class='tooltiptext'>Affection</span></div> {{/if}}
          {{#if min_beauty}} <div>be pwetty</div> {{/if}}
          {{#if min_happiness}} <div class='tooltip'><img src='/images/happiness.png' />
            <span class='tooltiptext'>Happiness</span></div> {{/if}}
          {{#if needs_overworld_rain}} <div>must rain</div> {{/if}}
          {{#if party_species}} <div> {{party_species}}</div> {{/if}}
          {{#if party_type}} <div> {{party_type}}</div> {{/if}}
          {{#if relative_physical_stats}} <div><img src='/images/{{relative_physical_stats}}.png' /> </div> {{/if}}
          {{#if time_of_day}} <div class='tooltip'><img src='/images/{{time_of_day}}.png' />
            <span class='tooltiptext'>{{time_of_day}}</span></div> {{/if}}
          {{#if trigger}} <div class='tooltip'><img src='/images/trade.png' />
            <span class='tooltiptext'>Affection</span></div> {{/if}}
          {{#if turn_upsisde_down}} <div>flippy</div> {{/if}}
        </div>
        <div>
          <img src='/images/levelup.png' />
        </div>
      </div>
      {{/each}}
    </div>
    <div class="evoColumnThree evoColumns">
      {{#each evolutions.secondEvo}}
      <div class='evoForm'>
        <a href='/pokemon/{{id}}'>
          <div>
            <img class="evoImg"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" />
          </div>
          <div>
            {{name}}
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <div class="evoColumnFour evoColumns">
      {{#each evolutions.thirdEvo}}
      <div class='evoStep'>
        <div class='step'>
          {{#if level}} <div class="tiny-text">{{level}}</div> {{/if}}
          {{#if item}} <div class='tooltip'>w/ <img src='/images/{{item}}.png' />
            <span class='tooltiptext'>{{item}}</span></div> {{/if}}
          {{#if gender}} <div>{{gender}}</div> {{/if}}
          {{#if held_item}} <div><img
              src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{held_item}}.png' /> </div>
          {{/if}}
          {{#if known_move}} <div>knows {{known_move}}</div> {{/if}}
          {{#if known_move_type}} <div class="{{known_move_type}}">knows a {{known_move_type}} type move</div> {{/if}}
          {{#if location}} <div class='tooltip'><img src='/images/location.png' />
            <span class='tooltiptext'>{{location}}</span></div>{{/if}}
          {{#if min_affection}} <div class='tooltip'><img src='/images/affection.png' />
            <span class='tooltiptext'>Affection</span></div> {{/if}}
          {{#if min_beauty}} <div>be pwetty</div> {{/if}}
          {{#if min_happiness}} <div class='tooltip'><img src='/images/happiness.png' />
            <span class='tooltiptext'>Happiness</span></div> {{/if}}
          {{#if needs_overworld_rain}} <div>must rain</div> {{/if}}
          {{#if party_species}} <div> {{party_species}}</div> {{/if}}
          {{#if party_type}} <div> {{party_type}}</div> {{/if}}
          {{#if relative_physical_stats}} <div><img src='/images/{{relative_physical_stats}}.png' /> </div> {{/if}}
          {{#if time_of_day}} <div class='tooltip'><img src='/images/{{time_of_day}}.png' />
            <span class='tooltiptext'>@{{time_of_day}} time</span></div> {{/if}}
          {{#if trigger}} <div class='tooltip'><img src='/images/trade.png' />
            <span class='tooltiptext'>Trade</span></div> {{/if}}
          {{#if turn_upsisde_down}} <div>flippy</div> {{/if}}
        </div>
        <div>
          <img src='/images/levelup.png' />
        </div>
      </div>
      {{/each}}
    </div>
    <div class="evoColumnFive evoColumns">
      {{#each evolutions.thirdEvo}}
      <div class='evoForm'>
        <a href='/pokemon/{{id}}'>
          <div>
            <img class="evoImg"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" />
          </div>
          <div>
            {{name}}
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- <div class='key'>
    Key:
    <div>Affection = <img src='/images/affection.png' /></div>
    <div>Happiness = <img src='/images/happiness.png' /></div>
    <div>Trade = <img src='/images/trade.png' /></div>
    <div>During Day time = <img src='/images/day.png' /></div>
    <div>During night time = <img src='/images/night.png' /></div> --}}

  </div>

</main>

<script>

  const form = document.querySelector('.pokemonTest')
  form.addEventListener("submit", function (event) {
    let inputCheck = document.querySelector('.salmon').value
    inputCheck = inputCheck.toLowerCase();

    for (var i = 0; i < itemListData.length; i++) {
      if (inputCheck === itemListData[i].name) {
        console.log('poop');
        return true;
        break;
      }
      console.log('bug poop')
    }
    event.preventDefault();
  })
  const itemListData = {{{ nameList }}}
  var options = {
    data: itemListData,
    getValue: 'name',
    list: {
      onClickEvent: function () {
        form.submit()
      },
      match: {
        enabled: true
      }
    },
    theme: "blue-light",
    template: {
      type: "iconRight",
      fields: {
        iconSrc: "image"
      },
    },
  }

  $("#pokemonList").easyAutocomplete(options);


</script>