<main class="container">
  <h1 class="title">James' Pokedex</h1>
  <div class="firstRow">
    <div class="mainText capital">
      <div>{{name}}</div>
      </br>
      <div class="{{type1}}">Type 1: {{type1}}</div>
      {{#if type2}} <div class="{{type2}}">Type 2: {{type2}}</div> {{/if}}
    </div>

    <div class="pokemonInfo">
      <img class="pokemonImg" src="{{img}}" />
      <div>National ID: #{{id}}</div>
      <div>Weight: {{weight}}kg</div>
      <div>Height: {{height}}m</div>
    </div>
  </div>
  <div class="capital mainText">Evolutions:</div>

  <div class="evos capital">
    <div class="evoColumnOne evoColumns">
      <div class="evoForm">
        {{#each evolutions.firstEvo}}
        <a href='/pokemon/{{id}}'>
          <div>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" />
          </div>
          <div>
            {{name}}
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    <div class="evoColumnTwo evoColumns">
      {{#each evolutions.secondEvo}}
      <div class="evoStep">
        <div>
          {{#if level}} <div>@ level: {{level}}</div> {{/if}}
          {{#if item}} <div>w/ <img src='/images/{{item}}.png' /></div> {{/if}}
          {{#if gender}} <div>{{gender}}</div> {{/if}}
          {{#if held_item}} <div>holding: {{held-item}}</div> {{/if}}
          {{#if known_move}} <div>knows {{known_move}}</div> {{/if}}
          {{#if known_move_type}} <div class="{{known_move_type}}">knows a {{known_move_type}} move</div> {{/if}}
          {{#if location}} <div>@{{location}}</div> {{/if}}
          {{#if min_affection}} <div>bffs</div> {{/if}}
          {{#if min_beauty}} <div>be pwetty</div> {{/if}}
          {{#if min_happiness}} <div>be happy</div> {{/if}}
          {{#if needs_overworld_rain}} <div>must rain</div> {{/if}}
          {{#if party_species}} <div> {{party_species}}</div> {{/if}}
          {{#if party_type}} <div> {{party_type}}</div> {{/if}}
          {{#if relative_physical_stats}} <div>{{relative_physical_stats}}</div> {{/if}}
          {{#if time_of_day}} <div>@ {{time_of_day}}</div> {{/if}}
          {{#if trade_species}} <div>trade</div> {{/if}}
          {{#if turn_upsisde_down}} <div>flippy</div> {{/if}}
        </div>
        <div>
          -------->
        </div>
      </div>
      {{/each}}
    </div>
    <div class="evoColumnThree evoColumns">
      {{#each evolutions.secondEvo}}
      <div class='evoForm'>
        <a href='/pokemon/{{id}}'>
          <div>
            <img class="evoImg"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" />
          </div>
          <div>
            {{name}}
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <div class="evoColumnFour evoColumns">
      {{#each evolutions.thirdEvo}}
      <div class='evoStep'>
        <div>
          {{#if level}} <div>@ level: {{level}}</div> {{/if}}
          {{#if item}} <div>w/ <img src='/images/{{item}}.png' /></div> {{/if}}
          {{#if gender}} <div>{{gender}}</div> {{/if}}
          {{#if held_item}} <div>holding: {{held-item}}</div> {{/if}}
          {{#if known_move}} <div>knows {{known_move}}</div> {{/if}}
          {{#if known_move_type}} <div class="{{known_move_type}}">knows a {{known_move_type}}move</div> {{/if}}
          {{#if location}} <div>@{{location}}</div> {{/if}}
          {{#if min_affection}} <div><img src='/images/affection.png' /></div> {{/if}}
          {{#if min_beauty}} <div>be pwetty</div> {{/if}}
          {{#if min_happiness}} <div><img src='/images/happiness.png' /></div> {{/if}}
          {{#if needs_overworld_rain}} <div>must rain</div> {{/if}}
          {{#if party_species}} <div> {{party_species}}</div> {{/if}}
          {{#if party_type}} <div> {{party_type}}</div> {{/if}}
          {{#if relative_physical_stats}} <div>{{relative_physical_stats}}</div> {{/if}}
          {{#if time_of_day}} <div><img src='/images/{{time_of_day}}.png' /></div> {{/if}}
          {{#if trigger}} <div><img src='/images/trade.png' /></div> {{/if}}
          {{#if turn_upsisde_down}} <div>flippy</div> {{/if}}
        </div>
        <div>
          -------->
        </div>
      </div>
      {{/each}}
    </div>
    <div class="evoColumnFive evoColumns">
      {{#each evolutions.thirdEvo}}
      <div class='evoForm'>
        <a href='/pokemon/{{id}}'>
          <div>
            <img class="evoImg"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" />
          </div>
          <div>
            {{name}}
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  {{!-- <div>
        <img src='/images/su-jeong-lovelyz-4.jpg' />
    </div> --}}

</main>