<h1>Who's that Pokemon?</h1>

<main class="container">
    <div class="mainText">
        <p>National ID: #{{id}}</p>
        <p class="pokeName">{{name}}</p>

        <p>Weighing at {{weight}}kg</p>

        <p>And {{height}}m tall</p>

        <p class="{{type1}} types" id='tp1'>Type 1: {{type1}}</p>
        {{#if type2}} <p class="{{type2}} types" id='tp2'>Type 2: {{type2}}</p> {{/if}}

        <p class="types">Evolutions:
            {{#each evolutions}}
        <p>{{this.name}} {{this.level}} </p>
        {{/each}}
        </p>
    </div>

    <div class="pokemonBox">
        <img class="pokemonImg" src="{{img}}"></img>
    </div>
</main>