<h1>Who's that Pokemon?</h1>

<main class="container">
    <div class="mainText">
        <p>National ID: #{{id}}</p>
        <p class="pokeName">{{name}}</p>

        <p>Weighing at {{weight}}kg</p>

        <p>And {{height}}m tall</p>

        <p>Type 1: {{type1}} </br> <!-- Type 2: {{type2}} --></p>

        <p>Evolutions:
        
        </p>
    </div>

    <div class="pokemonBox">
        <img class="pokemonImg" src="{{img}}"></img>
    </div>
</main>